<head>
    <title>HOTEL La Cassarai</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Resort Inn Responsive , Smartphone Compatible web template , Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="http://1030679.mbobaas.nl/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="http://1030679.mbobaas.nl/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="http://1030679.mbobaas.nl/css/chocolat.css" type="text/css" media="screen">
    <link href="http://1030679.mbobaas.nl/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="http://1030679.mbobaas.nl/css/flexslider.css" type="text/css" media="screen" property="" />
    <link rel="stylesheet" href="http://1030679.mbobaas.nl/css/jquery-ui.css" />
    <link href="http://1030679.mbobaas.nl/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="http://1030679.mbobaas.nl/js/modernizr-2.6.2.min.js"></script>
    <style>
        li{
            list-style-type: none;
        }
        .w3layouts-banner-top1{
            background: url("https://images.pexels.com/photos/2290740/pexels-photo-2290740.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
        }
    </style>
</head>
<li>
    <div class="w3layouts-banner-top w3layouts-banner-top1">
        <div class="container">
            <div class="agileits-banner-info">
                <h4 style="color: white">HOTEL La Cassarai</h4>
                <h3>Stay with friends & families</h3>
                <p style="color: white" >Come & enjoy precious moment with us</p>
                <div class="agileits_w3layouts_more menu__item">
                    <a href="#" class="menu__link" data-toggle="modal" data-target="#myModal">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</li>
</ul>
</div>
<div class="clearfix"> </div>
<!--banner Slider starts Here-->
</div>
</div>
<!-- //banner -->
<!--//Header-->
<!-- //Modal1 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <!-- Modal1 -->
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 style="color: blue">HOTEL  <span style="color: blue">La Cassarai</span></h4>
                <img src="https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?cs=srgb&dl=architecture-beach-building-258154.jpg&fm=jpg" alt=" " class="img-responsive">
                <h5>We know what you love</h5>
                <p>Providing guests unique and enchanting views from their rooms with its exceptional amenities, makes Star Hotel one of bests in its kind.Try our food menu, awesome services and friendly staff while you are here.</p>
            </div>
        </div>
    </div>
</div>
<!-- banner-bottom -->
<div class="banner-bottom">
    <div class="container">
        <div class="agileits_banner_bottom">
            <h3 style="color: blue"><span style="color: blue">Experience a good stay, enjoy fantastic offers</span> Find our friendly welcoming reception</h3>
        </div>
        <div class="w3ls_banner_bottom_grids">
            <ul class="cbp-ig-grid">
                <li>
                    <div class="w3_grid_effect">
                        <span class="cbp-ig-icon w3_road"></span>
                        <h4 style="color: blue" class="cbp-ig-title">MASTER ROOMS</h4>
                        <span style="color: white" class="cbp-ig-category">HOTEL La Cassarai</span>
                    </div>
                </li>
                <li>
                    <div class="w3_grid_effect">
                        <span class="cbp-ig-icon w3_cube"></span>
                        <h4 style="color: blue" class="cbp-ig-title">SEA VIEW</h4>
                        <span style="color: white" class="cbp-ig-category">HOTEL La Cassarai</span>
                    </div>
                </li>
                <li>
                    <div class="w3_grid_effect">
                        <span class="cbp-ig-icon w3_users"></span>
                        <h4 style="color: blue" class="cbp-ig-title">LARGE CAFE</h4>
                        <span style="color: white" class="cbp-ig-category">HOTEL La Cassarai</span>
                    </div>
                </li>
                <li>
                    <div class="w3_grid_effect">
                        <span class="cbp-ig-icon w3_ticket"></span>
                        <h4 style="color: blue" class="cbp-ig-title">WIFI COVERAGE</h4>
                        <span style="color: white" class="cbp-ig-category">HOTEL La Cassarai</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- //banner-bottom -->
<!-- /about -->
<div class="about-wthree" id="about">
    <div class="container">
        <div class="ab-w3l-spa">
            <h3 class="title-w3-agileits title-black-wthree">About Our hotel La Cassarai</h3>
            <p class="about-para-w3ls">The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced</p>
            <img src="http://1030679.mbobaas.nl//images/about.jpg" class="img-responsive" alt="Hair Salon">
            <div class="w3l-slider-img">
                <img src="http://1030679.mbobaas.nl/images/a1.jpg" class="img-responsive" alt="Hair Salon">
            </div>
            <div class="w3ls-info-about">
                <h4 style="color: white" >You'll love all the amenities we offer!</h4>
                <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed in </p>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //about -->
<!--sevices-->
<div class="advantages">
    <div class="container">
        <div class="advantages-main">
            <h3 class="title-w3-agileits">Our Services</h3>
            <div class="advantage-bottom">
                <div class="col-md-6 advantage-grid left-w3ls wow bounceInLeft" data-wow-delay="0.3s">
                    <div class="advantage-block ">
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                        <h4>Stay First, Pay After! </h4>
                        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
                        <p><i class="fa fa-check" aria-hidden="true"></i>Decorated room, proper air conditioned</p>
                        <p><i class="fa fa-check" aria-hidden="true"></i>Private balcony</p>

                    </div>
                </div>
                <div class="col-md-6 advantage-grid right-w3ls wow zoomIn" data-wow-delay="0.3s">
                    <div class="advantage-block">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <h4>24 Hour Restaurant</h4>
                        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
                        <p><i class="fa fa-check" aria-hidden="true"></i>24 hours room service</p>
                        <p><i class="fa fa-check" aria-hidden="true"></i>24-hour Concierge service</p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!--//sevices-->
<!-- contact -->
